{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="mx-auto" style="max-width: 400px;">
  <div class="text-center mb-3">
    <img src="{{ url_for('static', filename='user-icon.png') }}" class="rounded-circle" width="80" alt="User Icon">
  </div>
  <div class="text-center mb-3">
    <h3 class="text-success">Sign Up</h3>
  </div>
  <form method="post" class="bg-white p-4 rounded-3 shadow-lg">
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-person-fill text-muted"></i>
        </span>
        <input type="text" name="username" class="form-control border-start-0" placeholder="Username" required>
      </div>
    </div>
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-envelope-fill text-muted"></i>
        </span>
        <input type="email" name="email" class="form-control border-start-0" placeholder="Email" required>
      </div>
    </div>
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-lock-fill text-muted"></i>
        </span>
        <input type="password" name="password" class="form-control border-start-0" placeholder="Password" required>
      </div>
    </div>
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-lock-fill text-muted"></i>
        </span>
        <input type="password" name="confirm_password" class="form-control border-start-0" placeholder="Confirm Password" required>
      </div>
    </div>
    <button class="btn btn-success w-100 py-2">SIGN UP</button>
  </form>
  <div class="text-center mt-3">
    <span class="text-white small">Already have an account? <a href="/" class="text-decoration-none text-primary fw-bold">Login</a></span>
  </div>
</div>
{% endblock %}
